<section>
  <h1>About this Blog</h1>
  <p style="text-align: justify">This weblog is a response to many years of successfully solving technical
  issues by Googling for error messages. I'm hoping to repay the bounty of the
  Internet by keeping a publicly searchable log of what I manage to learn
  about specific information technology engineering problems.</p>

  <h1>About Me</h1>
  <p style="text-align: justify">I'm Schuyler Erle. I've been a Free Software developer and evangelist for over fifteen years. I co-wrote "Mapping Hacks" and "Google Maps Hacks". I helped start the <a href="http://openlayers.org/">OpenLayers</a>, <a href="http://tilecache.org">TileCache</a>, and <a href="http://rapidsms.org/">RapidSMS</a> projects, among other things. I'm a charter member of the <a href="http://osgeo.org/">OSGeo Foundation</a>, and I serve on the board of directors of the <a href="http://hotosm.org/">Humanitarian OpenStreetMap team</a>. I live in San Francisco.</p>
  <p>I keep a personal weblog called <a
      href="http://iconocla.st/">iconocla.st</a>.</p>
</section>
